<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/fiche-nsi.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-light.min.css">
</head>
<body>
  <header><h1><%= title.replace('Fiche NSI – ', '') %></h1></header>
  <div class="container">
    <%- content %>
  </div>
  <% if (footer) { %>
    <div class="footnote"><%= footer %></div>
  <% } %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>
</html>