<ul>
  <% fiches.forEach(function(fiche) { %>
    <li>
      <a href="/fiches/<%= fiche.slug %>">
        <%= fiche.title %>
      </a>
      - <a href="/fiches/<%= fiche.slug %>/pdf" download>
          (Télécharger en PDF)
        </a>
    </li>
  <% }); %>
</ul>
